@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&family=Playfair+Display&family=Poppins&family=Raleway&family=Roboto:wght@400;500;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #2f2f2f;
    color: white;
    font-family: 'Poppins', sans-serif;
    font-size: 1.6em;
}

.my-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.my-container h1{
    width: 100%;
    padding: 20px;
    text-align: center;
    background-color: blue;
    color: white;
}

.box{
    display: flex;
    flex-direction: column;
    width: 500px;
    font-size: 1.2em;
    padding: 40px;
    gap: 40px;
    justify-content: center;
    align-items: center;
    line-height: 80px;
    /* border: 1px solid black; */
}

.box div{
    display: flex;
    align-items: center;
}

.box input{
    margin-left: 12px;
    padding: 4px;
    height: 40px;
    font-size: 0.6em;
}

.weight-guide{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
    padding: 10px;
}

#p1{
    font-size: 1.2em;
    font-weight: 600;
}

.btn{
    width: 160px;
    height: 50px;
    font-size: 0.62em;
    font-weight: 600;
    padding: 10px;
    background-color: blue;
    color: white;
    border: 0;
    transition: all ease-in 0.1s;
}

.btn:hover{
    transform: scale(1.02);
}

#result{
    font-size: 1.4em;
    display: flex;
}

#result #p-1 span{
    font-weight: bold;
    color: blue;
}


@media (max-width: 600px) and (min-width: 386px){
    h1{
        font-size: 1.1em;
        padding: 2px;
    }
    .my-container{
      gap: 10px;
    }
    .box div{
        font-size: 0.7em;
    }
    .box{
        padding: 10px;
        gap: 20px;
    }
    .weight-guide{
        text-align: center;
        margin-top: 10px;
        font-size: 0.8em;
    }
    .btn{
        width: 120px;
        height: 40px;
    }
    #result{
        font-size: 1em;
        padding-top: 20px;
    }
}

@media (max-width: 385px) and (min-width: 291px) {
    h1{
        font-size: 1.2em;
        padding: 2px;
    }
    .box{
        padding: 5px;
        font-size: 1em;
    }
    .my-container{
      gap: 30px;
    }
    .weight-guide{
        text-align: center;
        margin-top: 10px;
    }
}

@media (max-width: 290px) {
    body{
        font-size: 0.8em;
    }
    h1{
        font-size: 1.2em;
        padding: 2px;
    }
    .box{
        padding: 2px;
    }
    .my-container{
      gap: 30px;
    }
    .weight-guide{
        text-align: center;
        margin-top: 10px;
    }
}




/* 
font-family: 'Noto Sans', sans-serif;
font-family: 'Playfair Display', serif;
font-family: 'Poppins', sans-serif;
font-family: 'Raleway', sans-serif;
font-family: 'Roboto', sans-serif; 
*/